<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Forgot Password - CodeMaster</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='forgot_password.css') }}">

</head>


<body>


    <div class="container">


        <div class="card">


            <div class="logo">

                <h1>Code<span>Master</span></h1>

            </div>


            <h2>Forgot Password?</h2>


            <p>
                Enter your registered Gmail to receive OTP
            </p>



            <form method="POST">


                <div class="input-box">

                    <input type="email" id="email" name="email" placeholder="Enter Gmail Address" required>

                </div>



                <button type="submit">
Send OTP
</button>



                <a href="/login">
Back to Login
</a>


            </form>


        </div>


    </div>


</body>
<script src="{{ url_for('static', filename='forgot_password.js') }}"></script>

</html>